{% extends 'base.html' %}
{% load static %}
{% block car-detail %}
    <div class="container">
        <div class="row no-gutters bg-light position-relative">
            {% for car in object %}
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="{{ car.image.url }}" class="w-100" alt="...">
                </div>
                <div class="col-md-6 position-static p-4 pl-md-0">
                    <h5 class="mt-0">Brand: <u  >{{ car.brand }}</u></h5>
                    <p>Model: {{ car.model }}</p>
                    <p>Year: {{ car.year }}</p>
                    <p>Transmission: {{ car.transmission }}</p>
                    <p>Color: {{ car.color }}</p>
                    <a href="{% url 'cars_api:cars-detail' car.slug %}" class="stretched-link">API quick look</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}