body {
    background-color: #181819;
}

@media screen and (min-width: 992px) {
    #carouselExampleIndicators {
        top: -80px;
    }
}


.card-img-top {
    width: 100%;
    max-height: 13rem;
    height: auto;
    align-self: center;
}

footer {
    background-color: black;
    height: 500px;
    color: #9b9b9b;
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-bottom: 120px;
        padding-top: 90px;
    }
}

.footer-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 90%;
}
